/build/
*.aux
*.log
*.gch
a.out
header.tmp
.vscode

# IntelliJ IDE
.idea/*
*.iws
*.iml
*.eml
/out/

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bcf
*.fdb_latexmk
*.fls
*.nav
*.run.xml
*.snm
*.synctex(busy)
